/* line 1, ../../app/stylesheets/application.scss */
h1 {
  margin: 0.3em 0 0.5em 0;
  font-family: times, Times New Roman, times-roman, georgia, serif;
  font-size: 48px;
  line-height: 40px;
  letter-spacing: -1px;
  color: #484;
  padding: 0 0 0 0;
  font-weight: 100;
}

/* line 13, ../../app/stylesheets/application.scss */
h2 {
  margin: 0.3em 0 0.7em 0;
  font-family: Gill Sans, Verdana;
  font-size: 11px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

/* line 24, ../../app/stylesheets/application.scss */
table {
  margin-bottom: 2em;
}

/* line 28, ../../app/stylesheets/application.scss */
td {
  padding: 0em 1em 0em 0em;
}

/* line 32, ../../app/stylesheets/application.scss */
p {
  margin-bottom: 2em;
}

/* line 36, ../../app/stylesheets/application.scss */
p.subline {
  font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
  font-style: italic;
  color: #424242;
}

/* line 42, ../../app/stylesheets/application.scss */
legend {
  padding: 2em 0em 1em 0em;
  font-family: Gill Sans, Verdana;
  font-size: 11px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

/* line 53, ../../app/stylesheets/application.scss */
ul.list {
  margin-bottom: 2em;
}
/* line 56, ../../app/stylesheets/application.scss */
ul.list li {
  margin-left: 1em;
}

/* line 61, ../../app/stylesheets/application.scss */
ul.links {
  margin-bottom: 2em;
}

/* line 65, ../../app/stylesheets/application.scss */
ul.navigation {
  display: inline;
}
/* line 68, ../../app/stylesheets/application.scss */
ul.navigation li {
  margin: 0.3em;
  display: inline;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.5em;
  margin-top: 5px;
  text-align: center;
  font-weight: normal;
  color: #222;
}

/* line 80, ../../app/stylesheets/application.scss */
.warn {
  color: #c8782a;
}

/* line 84, ../../app/stylesheets/application.scss */
.message {
  padding: 0 1em;
  text-align: center;
  border-bottom: 1px solid #000;
}

/* line 90, ../../app/stylesheets/application.scss */
.notice {
  background-color: #9eee54;
  color: green;
}

/* line 95, ../../app/stylesheets/application.scss */
.alert {
  background-color: #ee5b54;
  color: #000;
}

/* divs */
/* line 102, ../../app/stylesheets/application.scss */
#navigation {
  background-color: #efe;
  padding: 1em 1em 1.5em 1em;
  border-bottom: 1px dotted #000;
}

/* line 108, ../../app/stylesheets/application.scss */
#content {
  margin: 2em;
}

/* Some default Styles for Simple-Form */
/* line 114, ../../app/stylesheets/application.scss */
.simple_form label {
  float: left;
  width: 100px;
  text-align: right;
  margin: 2px 10px;
}

/* line 121, ../../app/stylesheets/application.scss */
.simple_form div.input {
  margin-bottom: 10px;
}

/* line 125, ../../app/stylesheets/application.scss */
.simple_form div.boolean, .simple_form input[type='submit'] {
  margin-left: 120px;
}

/* line 129, ../../app/stylesheets/application.scss */
.simple_form div.boolean label {
  float: none;
  margin: 0;
}

/* scaffold css */
/* line 136, ../../app/stylesheets/application.scss */
body {
  background-color: #fff;
  color: #333;
}

/* line 138, ../../app/stylesheets/application.scss */
body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 144, ../../app/stylesheets/application.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 150, ../../app/stylesheets/application.scss */
a {
  color: #000;
}

/* line 151, ../../app/stylesheets/application.scss */
a:visited {
  color: #666;
}

/* line 153, ../../app/stylesheets/application.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 157, ../../app/stylesheets/application.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 163, ../../app/stylesheets/application.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

/* line 172, ../../app/stylesheets/application.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

/* line 183, ../../app/stylesheets/application.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
