login: &login
  adapter: mysql2
  username: root
  password: 
  host: 127.0.0.1

development:
  <<: *login
  database: plat_forms_2011_development

test:
  <<: *login
  database: plat_forms_2011_test

production:
  <<: *login
  database: plat_forms_2011_production
